@import url("https://fonts.googleapis.com/css?family=Major+Mono+Display&display=swap");

.wrap {
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;
}

.wrap::after {
  content: "";
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
}

.scene {
  background: linear-gradient(180deg, #326e90, #24adff);
  flex: 0 0 50%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: relative;
  overflow: hidden;
  border-bottom: 10px solid #0f0d0f;
}

.scene .woman {
  display: none;
}

.moon {
  position: absolute;
  top: 10%;
  left: calc(50% - 200px);
  width: 50px;
  height: 50px;
  background: #FFA124;
  border-radius: 100%;
  box-shadow: 0px 0px 20px rgba(230, 144, 32);
}

.buildings {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 90px;
  display: flex;
  align-items: flex-end;
}

.buildings__building {
  background: #464c56;
  flex: 0 0 100px;
  height: 200px;
  margin: 0 5px;
}
.buildings__building:nth-of-type(even) {
  height: 150px;
  margin: 0 10px;
}
.buildings__building:nth-of-type(3n + 3) {
  width: 300px;
  flex: 0 0 200px;
  height: 180px;
  margin: 0;
}

.tree {
  position: absolute;
  z-index: 0;
  right: 20%;
  bottom: 80px;
  height: 200px;
  width: 50px;
}
.tree__main {
  width: 100%;
  height: 100%;
  background: #634223;
  position: relative;
  z-index: 1;
}
.tree::before {
  content: "";
  position: absolute;
  background: #634223;
  bottom: 0;
  left: -10px;
  width: 40px;
  height: 80px;
  transform: rotate(15deg);
}
.tree::after {
  content: "";
  position: absolute;
  background: #634223;
  bottom: 0;
  right: -10px;
  width: 40px;
  height: 80px;
  transform: rotate(-15deg);
}
.tree__branch {
  position: absolute;
  z-index: 2;
  background: #634223;
  width: 10px;
}
.tree > .tree__branch:nth-of-type(1) {
  bottom: 130px;
  height: 40px;
  right: 100%;
  transform: rotate(-45deg);
}
.tree > .tree__branch:nth-of-type(1) .tree__branch:nth-of-type(1) {
  right: 80%;
  bottom: 30px;
  width: 6px;
  height: 20px;
  transform: rotate(-65deg);
}
.tree > .tree__branch:nth-of-type(1) .tree__branch:nth-of-type(2) {
  right: -30%;
  bottom: 37px;
  width: 6px;
  height: 20px;
  transform: rotate(22deg);
}
.tree > .tree__branch:nth-of-type(2) {
  bottom: 95%;
  width: 50%;
  height: 40px;
  right: 80%;
  transform: rotate(-35deg);
}
.tree > .tree__branch:nth-of-type(2) > .tree__branch {
  width: 13px;
}
.tree > .tree__branch:nth-of-type(2) > .tree__branch:nth-of-type(1) {
  right: 80%;
  bottom: 25px;
  height: 40px;
  transform: rotate(-65deg);
}
.tree > .tree__branch:nth-of-type(2) > .tree__branch:nth-of-type(1) > .tree__branch {
  width: 8px;
}
.tree > .tree__branch:nth-of-type(2) > .tree__branch:nth-of-type(1) > .tree__branch:nth-of-type(1) {
  right: 100%;
  bottom: 25px;
  height: 40px;
  transform: rotate(-65deg);
}
.tree > .tree__branch:nth-of-type(2) > .tree__branch:nth-of-type(1) > .tree__branch:nth-of-type(2) {
  right: -60%;
  bottom: 34px;
  height: 30px;
  transform: rotate(32deg);
}
.tree > .tree__branch:nth-of-type(2) > .tree__branch:nth-of-type(2) {
  right: -30%;
  bottom: 37px;
  width: 13px;
  height: 30px;
  transform: rotate(32deg);
}
.tree > .tree__branch:nth-of-type(2) > .tree__branch:nth-of-type(2) > .tree__branch {
  width: 8px;
}
.tree > .tree__branch:nth-of-type(2) > .tree__branch:nth-of-type(2) > .tree__branch:nth-of-type(1) {
  right: 120%;
  bottom: 15px;
  height: 40px;
  transform: rotate(-65deg);
}
.tree > .tree__branch:nth-of-type(2) > .tree__branch:nth-of-type(2) > .tree__branch:nth-of-type(2) {
  right: -60%;
  bottom: 27px;
  height: 30px;
  transform: rotate(32deg);
}
.tree > .tree__branch:nth-of-type(3) {
  bottom: 90%;
  width: 60%;
  height: 40px;
  left: 70%;
  transform: rotate(45deg);
}
.tree > .tree__branch:nth-of-type(3) > .tree__branch:nth-of-type(1) {
  right: 80%;
  bottom: 25px;
  width: 13px;
  height: 40px;
  transform: rotate(-65deg);
}
.tree > .tree__branch:nth-of-type(3) > .tree__branch:nth-of-type(1) > .tree__branch {
  width: 8px;
}
.tree > .tree__branch:nth-of-type(3) > .tree__branch:nth-of-type(1) > .tree__branch:nth-of-type(1) {
  right: 100%;
  bottom: 30px;
  height: 40px;
  transform: rotate(-30deg);
}
.tree > .tree__branch:nth-of-type(3) > .tree__branch:nth-of-type(1) > .tree__branch:nth-of-type(2) {
  right: -60%;
  bottom: 27px;
  height: 30px;
  transform: rotate(32deg);
}
.tree > .tree__branch:nth-of-type(3) > .tree__branch:nth-of-type(2) {
  right: -30%;
  bottom: 37px;
  width: 13px;
  height: 30px;
  transform: rotate(32deg);
}
.tree > .tree__branch:nth-of-type(3) > .tree__branch:nth-of-type(2) > .tree__branch {
  width: 8px;
}
.tree > .tree__branch:nth-of-type(3) > .tree__branch:nth-of-type(2) > .tree__branch:nth-of-type(1) {
  right: 100%;
  bottom: 15px;
  height: 40px;
  transform: rotate(-65deg);
}
.tree > .tree__branch:nth-of-type(3) > .tree__branch:nth-of-type(2) > .tree__branch:nth-of-type(2) {
  right: -60%;
  bottom: 27px;
  height: 30px;
  transform: rotate(32deg);
}
.tree__leaves {
  position: absolute;
  bottom: 100px;
  width: 200px;
  height: 200px;
  left: 50%;
  transform: translateX(-50%);
}
.tree__leaves--back .tree__leaves__clump {
  position: absolute;
  background: #132d13;
  border-radius: 100%;
}
.tree__leaves--back .tree__leaves__clump:nth-of-type(1) {
  bottom: 40px;
  left: 25px;
  width: 40px;
  height: 30px;
}
.tree__leaves--back .tree__leaves__clump:nth-of-type(2) {
  bottom: 60px;
  left: 35px;
  width: 45px;
  height: 30px;
  transform: rotate(45deg);
}
.tree__leaves--back .tree__leaves__clump:nth-of-type(3) {
  bottom: 110px;
  left: -15px;
  width: 55px;
  height: 40px;
  transform: rotate(25deg);
}
.tree__leaves--back .tree__leaves__clump:nth-of-type(4) {
  bottom: 80px;
  left: -5px;
  width: 55px;
  height: 40px;
  transform: rotate(-45deg);
}
.tree__leaves--back .tree__leaves__clump:nth-of-type(5) {
  bottom: 140px;
  left: 10px;
  width: 65px;
  height: 50px;
  transform: rotate(35deg);
}
.tree__leaves--back .tree__leaves__clump:nth-of-type(6) {
  bottom: 150px;
  left: 40px;
  width: 65px;
  height: 50px;
  transform: rotate(135deg);
}
.tree__leaves--back .tree__leaves__clump:nth-of-type(7) {
  bottom: 130px;
  left: 70px;
  width: 65px;
  height: 50px;
  transform: rotate(35deg);
}
.tree__leaves--back .tree__leaves__clump:nth-of-type(8) {
  bottom: 130px;
  left: 100px;
  width: 65px;
  height: 50px;
  transform: rotate(115deg);
}
.tree__leaves--back .tree__leaves__clump:nth-of-type(9) {
  bottom: 125px;
  left: 155px;
  width: 65px;
  height: 50px;
  transform: rotate(115deg);
}
.tree__leaves--back .tree__leaves__clump:nth-of-type(10) {
  bottom: 80px;
  left: 160px;
  width: 65px;
  height: 50px;
  transform: rotate(215deg);
}
.tree__leaves--back .tree__leaves__clump:nth-of-type(11) {
  bottom: 85px;
  left: 85px;
  width: 85px;
  height: 80px;
  transform: rotate(215deg);
}
.tree__leaves--back .tree__leaves__clump:nth-of-type(12) {
  bottom: 85px;
  left: 35px;
  width: 85px;
  height: 80px;
  transform: rotate(215deg);
}
.tree__leaves--back .tree__leaves__clump:nth-of-type(13) {
  bottom: 65px;
  left: 85px;
  width: 85px;
  height: 80px;
  transform: rotate(215deg);
}
.tree__leaves--back .tree__leaves__clump:nth-of-type(14) {
  bottom: 25px;
  left: 55px;
  width: 85px;
  height: 80px;
  transform: rotate(115deg);
}
.tree__leaves--front {
  z-index: 2;
}
.tree__leaves--front .tree__leaves__clump {
  position: absolute;
  background: rgba(23, 56, 23, 0.5);
  box-shadow: 0px 0px 20px 5px #173817;
  background: #173817;
  border-radius: 100%;
  transform: scale(0.5);
  transform-origin: 50% 50%;
}
.tree__leaves--front .tree__leaves__clump:nth-of-type(1) {
  bottom: 40px;
  left: 25px;
  width: 40px;
  height: 30px;
}
.tree__leaves--front .tree__leaves__clump:nth-of-type(2) {
  bottom: 60px;
  left: 35px;
  width: 45px;
  height: 30px;
  transform: scale(0.5) rotate(45deg);
}
.tree__leaves--front .tree__leaves__clump:nth-of-type(3) {
  bottom: 110px;
  left: -15px;
  width: 55px;
  height: 40px;
  transform: scale(0.5) rotate(25deg);
}
.tree__leaves--front .tree__leaves__clump:nth-of-type(4) {
  bottom: 80px;
  left: -5px;
  width: 55px;
  height: 40px;
  transform: scale(0.5) rotate(-45deg);
}
.tree__leaves--front .tree__leaves__clump:nth-of-type(5) {
  bottom: 140px;
  left: 10px;
  width: 65px;
  height: 50px;
  transform: scale(0.5) rotate(35deg);
}
.tree__leaves--front .tree__leaves__clump:nth-of-type(6) {
  bottom: 150px;
  left: 40px;
  width: 65px;
  height: 50px;
  transform: scale(0.5) rotate(135deg);
}
.tree__leaves--front .tree__leaves__clump:nth-of-type(7) {
  bottom: 130px;
  left: 70px;
  width: 65px;
  height: 50px;
  transform: scale(0.5) rotate(35deg);
}
.tree__leaves--front .tree__leaves__clump:nth-of-type(8) {
  bottom: 130px;
  left: 100px;
  width: 65px;
  height: 50px;
  transform: scale(0.5) rotate(115deg);
}
.tree__leaves--front .tree__leaves__clump:nth-of-type(9) {
  bottom: 125px;
  left: 155px;
  width: 65px;
  height: 50px;
  transform: scale(0.5) rotate(115deg);
}
.tree__leaves--front .tree__leaves__clump:nth-of-type(10) {
  bottom: 80px;
  left: 160px;
  width: 65px;
  height: 50px;
  transform: scale(0.5) rotate(215deg);
}
.tree__leaves--front .tree__leaves__clump:nth-of-type(11) {
  bottom: 80px;
  left: 100px;
  width: 55px;
  height: 50px;
  transform: rotate(215deg);
  opacity: 0.95;
}
.tree__leaves--front .tree__leaves__clump:nth-of-type(12) {
  bottom: 100px;
  left: 50px;
  width: 45px;
  height: 40px;
  transform: rotate(45deg);
  opacity: 0.85;
}
.tree__leaves--front .tree__leaves__clump:nth-of-type(13) {
  bottom: 60px;
  left: 60px;
  width: 45px;
  height: 40px;
  transform: rotate(-75deg);
  opacity: 0.65;
}

.path {
  position: absolute;
  bottom: 0;
  background: #242025;
  background-image: radial-gradient(circle at center center, transparent, #212121), repeating-linear-gradient(135deg, #212121 0px, #212121 2px, transparent 2px, transparent 10px, #212121 10px, #212121 11px, transparent 11px, transparent 21px), repeating-linear-gradient(45deg, #2f2f2f 0px, #2f2f2f 4px, transparent 4px, transparent 8px), linear-gradient(90deg, #3c3636, #1f1f1f);
  height: 95px;
  left: 0;
  right: 0;
}

.bushes {
  position: absolute;
  bottom: 90px;
  height: 90px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.bushes__bush {
  height: 100%;
  flex: 0 0 50px;
  margin: 0 10px;
  position: relative;
}
.bushes__bush span {
  width: 20px;
  height: 30px;
  border-radius: 100%;
  background: #163216;
  position: absolute;
  transform: translateX(-50%);
}
.bushes__bush span:nth-of-type(1) {
  left: 100%;
  bottom: -10%;
}
.bushes__bush span:nth-of-type(2) {
  left: 90%;
  bottom: 15%;
}
.bushes__bush span:nth-of-type(3) {
  left: 80%;
  bottom: 40%;
}
.bushes__bush span:nth-of-type(4) {
  left: 70%;
  bottom: 65%;
}
.bushes__bush span:nth-of-type(5) {
  left: 60%;
  bottom: 90%;
}
.bushes__bush span:nth-of-type(6) {
  left: 50%;
  bottom: 115%;
}
.bushes__bush span:nth-of-type(7) {
  left: 40%;
  bottom: 90%;
}
.bushes__bush span:nth-of-type(8) {
  left: 30%;
  bottom: 65%;
}
.bushes__bush span:nth-of-type(9) {
  left: 20%;
  bottom: 40%;
}
.bushes__bush span:nth-of-type(10) {
  left: 10%;
  bottom: 15%;
}
.bushes__bush span:nth-of-type(11) {
  left: 0%;
  bottom: -10%;
}
.bushes__bush span:nth-of-type(12) {
  left: 50%;
  bottom: -10%;
  height: 92px;
  width: 36px;
  border-radius: 0;
}

.fence {
  position: absolute;
  bottom: 65px;
  height: 85px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
}
.fence__section {
  display: flex;
  align-items: flex-end;
  height: 100%;
}
.fence__horz {
  position: absolute;
  background: #111;
  bottom: 5%;
  height: 5px;
  left: 0;
  right: 0;
}
.fence__horz + .fence__horz {
  bottom: 60%;
}
.fence__bar {
  background: #111;
  height: 100%;
  margin: 0 2px;
  width: 8px;
  position: relative;
}
.fence__bar::after {
  content: "";
  position: absolute;
  bottom: 100%;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 4px 5px 4px;
  border-color: transparent transparent #111 transparent;
}
.fence__bar:nth-of-type(2), .fence__bar:nth-of-type(14) {
  height: 90%;
}
.fence__bar:nth-of-type(3), .fence__bar:nth-of-type(13) {
  height: 85%;
}
.fence__bar:nth-of-type(4), .fence__bar:nth-of-type(12) {
  height: 80%;
}
.fence__bar:nth-of-type(5), .fence__bar:nth-of-type(11) {
  height: 77.5%;
}
.fence__bar:nth-of-type(6), .fence__bar:nth-of-type(10) {
  height: 75%;
}
.fence__bar:nth-of-type(7), .fence__bar:nth-of-type(8), .fence__bar:nth-of-type(9) {
  height: 72.5%;
}

.bench {
  width: 200px;
  height: 90px;
  margin-bottom: 12px;
  position: relative;
}
.bench__leg {
  background: #0f0b10;
  width: 8px;
  position: absolute;
  border-radius: 0 0 3px 3px;
}
.bench__leg:nth-of-type(1) {
  left: 4px;
  bottom: 0;
  height: 30px;
}
.bench__leg:nth-of-type(2) {
  right: 4px;
  bottom: 0;
  height: 30px;
}
.bench__leg:nth-of-type(3) {
  left: 20px;
  bottom: 15px;
  height: 70px;
}
.bench__leg:nth-of-type(4) {
  right: 20px;
  bottom: 15px;
  height: 70px;
}
.bench__backBeam {
  position: absolute;
  left: 5px;
  right: 5px;
  height: 10px;
  background: #4a1611;
  bottom: 50px;
}
.bench__backBeam::before, .bench__backBeam::after {
  content: "";
  position: absolute;
  top: 3px;
  left: 18px;
  height: 4px;
  width: 4px;
  border-radius: 100%;
  background: #210a07;
}
.bench__backBeam::after {
  left: auto;
  right: 18px;
}
.bench__backBeam + .bench__backBeam {
  bottom: 65px;
}
.bench__backBeam + .bench__backBeam + .bench__backBeam {
  bottom: 80px;
}
.bench__seat {
  background: #4a1611;
  position: absolute;
  bottom: 30px;
  left: 0;
  right: 0;
  height: 5px;
}
.bench__seat span {
  background: #73221b;
  position: absolute;
  bottom: 5px;
  left: 5px;
  right: 5px;
  height: 10px;
}
.bench__seat span::before, .bench__seat span::after {
  content: "";
  position: absolute;
  left: 100%;
  top: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 0 0 5px;
  border-color: transparent transparent transparent #73221b;
}
.bench__seat span::before {
  left: auto;
  right: 100%;
  transform: scaleX(-1);
}

.man {
  position: absolute;
  bottom: 0;
  right: 40px;
  width: 45px;
  height: 140px;
}
.man__body {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 110px;
  border-radius: 12px 12px 0 0;
}
.man__body__legs {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 57px;
}
.man__body__legs__pelvis {
  position: absolute;
  background: #3B1018;
  top: 0;
  left: 0;
  right: 0;
  height: 30%;
}
.man__body__legs__leg {
  background: #531621;
  position: absolute;
  top: 2px;
  left: 0;
  bottom: 0;
  width: 45%;
  border-radius: 20px 20px 0 0;
}
.man__body__legs__leg + .man__body__legs__leg {
  left: 55%;
}
.man__body__legs__leg__foot {
  position: absolute;
  background: #111;
  bottom: 0;
  left: -1px;
  right: -1px;
  height: 11px;
  border-radius: 5px 5px 0 0;
}
.man__body__shirt {
  background: #111;
  position: absolute;
  top: 3px;
  left: 0;
  right: 0;
  height: 50px;
}
.man__body__arm-left {
  position: absolute;
  right: 90%;
  top: 8px;
  width: 10px;
  background: #fbcfca;
  height: 60px;
  border-radius: 8px 0 5px 5px;
}
.man__body__arm-left__sleeve {
  background: #111;
  position: absolute;
  top: -5px;
  left: 0;
  width: 15px;
  height: 20px;
  border-radius: 8px 0 0 0;
}
.man__body__arm-right {
  position: absolute;
  left: 90%;
  top: 8px;
  width: 10px;
  background: #fbcfca;
  height: 60px;
  border-radius: 0 8px 5px 5px;
}
.man__body__arm-right__sleeve {
  background: #111;
  position: absolute;
  top: -5px;
  right: 0;
  width: 15px;
  height: 20px;
  border-radius: 0 8px 0 0;
}
.man__head {
  position: absolute;
  left: 6px;
  top: 0;
  background: #fbcfca;
  width: 32px;
  height: 40px;
  border-radius: 100%;
}
.man__head__hair {
  position: absolute;
  background: #111;
  width: 100%;
  height: 80%;
  top: -5%;
  border-radius: 100%;
}
.man__head__beard {
  position: absolute;
  background: #111;
  width: 55%;
  height: 60%;
  bottom: -12%;
  border-radius: 100%;
  left: 15%;
}
.man__head__face {
  position: absolute;
  background: #fbcfca;
  width: 66%;
  height: 69%;
  top: 29%;
  left: 10%;
  border-radius: 100%;
}

.woman {
  position: absolute;
  bottom: 0;
  right: 92px;
  width: 42px;
  height: 140px;
}
.woman * {
  z-index: 1;
}
.woman__body {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 110px;
  border-radius: 12px 12px 0 0;
}
.woman__body__legs {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 57px;
}
.woman__body__legs__pelvis {
  position: absolute;
  background: #191704;
  top: 0;
  left: 0;
  right: 0;
  height: 30%;
}
.woman__body__legs__leg {
  background: #3c360a;
  position: absolute;
  top: 2px;
  left: 0;
  bottom: 0;
  width: 45%;
  border-radius: 20px 20px 0 0;
}
.woman__body__legs__leg + .woman__body__legs__leg {
  left: 55%;
}
.woman__body__legs__leg__foot {
  position: absolute;
  background: #111;
  bottom: 0;
  left: -1px;
  right: -1px;
  height: 11px;
  border-radius: 5px 5px 0 0;
}
.woman__body__shirt {
  background: #ad2846;
  position: absolute;
  top: 3px;
  left: 0;
  right: 0;
  height: 50px;
}
.woman__body__arm-left {
  position: absolute;
  right: 90%;
  top: 8px;
  width: 10px;
  background: #fbcfca;
  height: 60px;
  border-radius: 8px 0 5px 5px;
}
.woman__body__arm-left__sleeve {
  background: #ad2846;
  position: absolute;
  top: -5px;
  left: 0;
  width: 15px;
  height: 20px;
  border-radius: 8px 0 0 0;
}
.woman__body__arm-right {
  position: absolute;
  left: 100%;
  top: 8px;
  width: 10px;
  background: #fbcfca;
  height: 60px;
  border-radius: 0 8px 5px 5px;
  transform: rotate(-6deg);
}
.woman__body__arm-right__sleeve {
  background: #ad2846;
  position: absolute;
  top: -5px;
  right: 0;
  width: 15px;
  height: 20px;
  border-radius: 0 8px 0 0;
}
.woman__head {
  position: absolute;
  left: 6px;
  top: 0;
  background: #fbcfca;
  width: 32px;
  height: 40px;
  border-radius: 100%;
}
.woman__head__hair {
  position: absolute;
  background: #a29059;
  width: 100%;
  height: 95%;
  top: -5%;
  border-radius: 100%;
}
.woman__head__hairBack {
  position: absolute;
  z-index: 0;
  background: #a29059;
  width: 85%;
  height: 80px;
  top: -2%;
  left: 7%;
  border-radius: 50px;
}
.woman__head__face {
  position: absolute;
  background: #fbcfca;
  width: 65%;
  height: 67%;
  top: 30%;
  left: 25%;
  border-radius: 100%;
}

.stars {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 90px;
}
.stars__star {
  position: absolute;
  width: 2px;
  height: 2px;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 100%;
  animation: 4s star-flicker infinite;
}
.stars__star:nth-of-type(2n + 2) {
  animation-delay: 1250ms;
}
.stars__star:nth-of-type(3n + 3) {
  animation-delay: 2500ms;
}
.stars__star:nth-of-type(1) {
  top: 5%;
  left: 10%;
}
.stars__star:nth-of-type(2) {
  top: 20%;
  left: 20%;
}
.stars__star:nth-of-type(3) {
  top: 40%;
  left: 5%;
}
.stars__star:nth-of-type(4) {
  top: 30%;
  left: 25%;
}
.stars__star:nth-of-type(5) {
  top: 10%;
  left: 45%;
}
.stars__star:nth-of-type(6) {
  top: 40%;
  left: 35%;
}
.stars__star:nth-of-type(7) {
  top: 20%;
  left: 55%;
}
.stars__star:nth-of-type(8) {
  top: 50%;
  left: 50%;
}
.stars__star:nth-of-type(9) {
  top: 35%;
  left: 62%;
}
.stars__star:nth-of-type(10) {
  top: 25%;
  left: 76%;
}
.stars__star:nth-of-type(11) {
  top: 15%;
  left: 82%;
}
.stars__star:nth-of-type(12) {
  top: 35%;
  left: 92%;
}
.stars__star:nth-of-type(13) {
  top: 35%;
  left: 85%;
}
.stars__star:nth-of-type(14) {
  top: 35%;
  left: 37%;
}

.streetlight {
  position: absolute;
  right: 40%;
  bottom: 55px;
  height: 140px;
  width: 10px;
  background: #0f0b10;
  border-radius: 0 0 4px 4px;
}
.streetlight__top {
  position: absolute;
  bottom: calc(100% + 30px);
  width: 50px;
  left: -20px;
  background: #0f0b10;
  height: 5px;
}
.streetlight__top::after {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 20px 10px 20px;
  border-color: transparent transparent #0f0b10 transparent;
  position: absolute;
  bottom: 100%;
  left: 5px;
}
.streetlight__top::before {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background: #0f0b10;
  position: absolute;
  left: 20px;
  bottom: 170%;
}
.streetlight__lamp {
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}
.streetlight__lamp span {
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  position: relative;
}
.streetlight__lamp span::before {
  content: "";
  position: absolute;
  bottom: 3px;
  left: 5px;
  width: 0;
  height: 0;
  border-style: solid;
}
.streetlight__lamp span:nth-of-type(1) {
  border-width: 0 15px 30px 0;
  border-color: transparent #0f0b10 transparent transparent;
}
.streetlight__lamp span:nth-of-type(1)::before {
  border-width: 0 10px 25px 0;
  border-color: transparent #feffcf transparent transparent;
  bottom: auto;
  top: 2px;
}
.streetlight__lamp span:nth-of-type(2) {
  width: 10px;
  height: 30px;
  background: #0f0b10;
}
.streetlight__lamp span:nth-of-type(2)::before {
  width: 6px;
  height: 25px;
  background: #feffcf;
  border: none;
  left: 2px;
}
.streetlight__lamp span:nth-of-type(3) {
  border-width: 30px 15px 0 0;
  border-color: #0f0b10 transparent transparent transparent;
}
.streetlight__lamp span:nth-of-type(3)::before {
  border-width: 25px 10px 0 0;
  border-color: #feffcf transparent transparent transparent;
  left: 0;
}

.reflection {
  background: blue;
  background: linear-gradient(180deg, #321333, #6e367b);
  flex: 0 0 50%;
  transform: scaleY(-1);
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: relative;
  border-bottom: 10px solid #0f0d0f;
  animation: 4s water-jitter infinite;
}
.reflection::before {
  content: "";
  position: absolute;
  z-index: 101;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1px;
  background: rgba(255, 255, 255, 0.1);
  animation: 6s edge-ripple infinite;
}
.reflection::after {
  content: "";
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  bottom: -10px;
  background: rgba(0, 0, 150, 0.5);
}
.reflection .man__body__arm-left {
  right: 100%;
  top: 10px;
  width: 60px;
  height: 10px;
}
.reflection .man__body__arm-left__sleeve {
  left: 85%;
}
.reflection .man__head__beard {
  display: none;
}
.reflection .man__head__hair {
  background: #332104;
}

@keyframes edge-ripple {
  0% {
    transform: translateY(0);
  }
  25%, 100% {
    transform: translateY(-50px);
    opacity: 0;
  }
}
@keyframes water-jitter {
  0%, 100% {
    transform: scaleY(-1) translateY(0px);
  }
  50% {
    transform: scaleY(-1) translateY(2px);
  }
}
@keyframes star-flicker {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}